html,
body {
	min-height: 100%;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.03em;
	color: $dark-500;
	background-color: $primary;

}


.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding: 72px 0;
	text-align: center;
}

.title {
	margin-bottom: 30px;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	font-size: 32px;
	text-transform: uppercase;
	color: $dark-900;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


@media (max-width: 768px) {
	.title {
		font-size: 24px;
		margin-bottom: 24px;
	}
}

@media (max-width: 576px) {

	.section {
		padding: 48px 0;
	}
}