@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';

@import 'components/header';
@import 'components/intro';
@import 'components/advantages';
@import 'components/banners';
@import 'components/promo';
@import 'components/brands';
@import 'components/blog';
@import 'components/footer';

@import 'components/search';
@import 'components/subscribe';
@import 'components/filter';
@import 'components/card';
@import 'components/star';
@import 'components/social';


.tops__card,
.promo__card {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-row-gap: 25px;
	grid-column-gap: 25px;
	margin-bottom: 48px;
}

.promo__title {
	margin-bottom: 32px;
}