.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px 18px 18px;
	background-color: #ffffff;
	border: 1px solid rgba(17, 17, 17, 0.2);
	box-sizing: border-box;
	border-radius: 6px;
	transition: border 0.4s;

	&:hover {
		border: 1px solid $secondary;
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__stocks {
		height: 38px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	&__stock {
		display: inline-block;
		padding: 3px 6px;
		font-weight: 700;
		font-size: 10px;
		line-height: 1;
		color: $primary;
		text-transform: uppercase;
		border-radius: 6px;

		&:nth-child(odd) {
			margin-bottom: 6px;
		}

		&:nth-child(n + 3) {
			margin-left: 6px;
		}

		&--new {
			background-color: $secondary;
		}

		&--hit {
			background-color: $accent-orange;
		}

		&--disc30,
		&--disc50 {
			background-color: $accent-red;
		}
	}

	&__img {
		object-fit: contain;
		margin-bottom: 12px;

	}

	&__title {
		min-height: 60px;
		margin-bottom: auto;
		font-family: inherit;
		font-weight: 600;
		color: $dark-900;
		text-align: left;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 12px;
	}

	&__price {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
	}

	&__price-old {
		margin-bottom: 3px;
		position: relative;
		line-height: 1;
		color: $primary-600;

		&::after {
			content: '';
			position: absolute;
			bottom: 7px;
			left: 0;
			width: 45px;
			height: 1px;
			background-color: $primary-600;
			transform: rotateZ(-10deg);
		}
	}

	&__price-new {
		line-height: 1;
	}

	&__quantity {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto 0 auto 80px;
		width: 84px;
		height: 24px;
		font-family: inherit;
		font-weight: 600;
		font-size: 16px;
	}

	&__label {
		width: 100%;
	}

	&__quantity-input {
		width: 36px;
		height: 24px;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		background-color: rgba(99, 166, 14, 0.102);
	}

	&__plus-btn,
	&__minus-btn {
		display: inline-block;
		position: relative;
		width: 24px;
		height: 24px;
		background-color: $secondary;
		background-position: center center;
		transition: background-color 0.4s;

		&:hover {
			background-color: #4d810c;
		}
	}

	&__plus-btn {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

		&::after {
			content: '';
			position: absolute;
			top: 4px;
			left: 4px;
			width: 16px;
			height: 16px;
			background-image: url('../images/icons/plus.svg');
		}
	}

	&__minus-btn {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;

		&::after {
			content: '';
			position: absolute;
			top: 4px;
			left: 4px;
			width: 16px;
			height: 16px;
			background-image: url('../images/icons/minus.svg');
		}
	}

	&--light {
		display: flex;
		flex-direction: row;
		padding: 14px 11px;
		background-color: $primary;

		.card {

			&__content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
			}

			&__box {
				max-width: 100px;
				width: 100%;
				margin-right: 12px;
			}

			&__stocks {
				position: relative;
				z-index: 1;
			}

			&__img {
				margin-top: -38px;
				margin-bottom: 0;
				object-fit: cover;

			}

			&__title {
				margin-bottom: 6px;
			}

			&__bottom {
				align-items: center;
				justify-content: space-between;
				width: 100%;
				margin-top: 6px;
			}

			&__price {
				flex-direction: row-reverse;
				align-items: center;
				margin-right: 12px;
			}

			&__price-old {
				margin-bottom: 0;
				font-size: 12px;

				&::after {
					width: 28px;
				}
			}

			&__currency {
				font-size: 12px;
			}

			&__price-new {
				margin-right: 12px;
				font-weight: 600;
				font-size: 20px;
				line-height: 1;
				color: #505050;
			}

			&__indicator {
				margin-bottom: auto;
				font-weight: 600;
				font-size: 10px;
				line-height: 1;
				text-transform: uppercase;
				text-align: left;
				color: $secondary;

				&--min {
					color: $accent-red;
				}

				&--no {
					color: $primary-600;
				}
			}
		}
	}

	&--basket {
		position: relative;
		flex-direction: row;
		align-items: flex-end;
		margin-bottom: 12px;
		padding: 11px;

		&:last-child {
			margin-bottom: 0;
		}

		.card {

			&__img {
				margin-right: 32px;
				margin-bottom: 0;
			}

			&__content {
				max-width: 170px;
				margin-right: auto;
			}

			&__title {
				min-height: 34px;
				margin-bottom: 6px;
			}

			&__plus-btn,
			&__minus-btn {
				border-radius: 0;
			}

			&__price-new {
				margin-top: auto;
				font-weight: 600;
				font-size: 20px;
				line-height: 1;
				color: $dark-500;
			}

			&__quantity {
				margin: 0;
			}

			&__box {
				display: flex;
			}

			&__price-total {
				margin-left: 12px;
				font-weight: 600;
				font-size: 20px;
				line-height: 1;
				color: $dark-500;
			}

			&__currency {
				font-size: 14px;
			}

		}
	}
}

@media (max-width: 576px) {

	.card--basket {
		align-items: flex-start;
		flex-wrap: wrap;

		.card {
			&__img {
				margin-right: 32px;
				margin-bottom: 18px;
			}

			&__box {
				min-width: 100%;
			}

			&__price-total {
				margin-left: auto;
			}
		}
	}
}