.product-filter {
	display: flex;
	justify-content: center;
	margin: 0 auto 45px;

	&__item:not(:first-child) {
		margin-left: 24px;
	}

	&__btn {
		padding: 0 2px 2px;
		font-weight: 700;
		font-size: 15px;
		text-transform: uppercase;
	}

	&__btn.mixitup-control-active {
		border-bottom: 3px solid $secondary-200;
	}
}

@media (max-width: 576px) {
	.product-filter {
		flex-wrap: wrap;
		margin-bottom: 12px;
		padding: 6px 2px;

		&__item {
			margin-bottom: 12px;
		}

		&__item:nth-child(4) {
			margin: 0;
		}

	}
}