.product-filter {
	display: flex;
	justify-content: center;
	margin-bottom: 45px;

	&__item:not(:last-child) {
		margin-right: 24px;
	}

	&__btn {
		padding: 0 2px 2px;
		font-weight: 700;
		font-size: 15px;
		text-transform: uppercase;
	}

	&__btn.mixitup-control-active {
		border-bottom: 3px solid $secondary-200;
	}
}
