.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 164px;
    margin-top: 18px;
    margin-left: 12px;

    &__link {
        display: block;
        width: 32px;
        height: 32px;
        transition: opacity 0.4s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__link--facebook {
        background-image: url('../images/social-icons/facebook.svg');
    }

    &__link--youtube {
        background-image: url('../images/social-icons/youtube.svg');
    }

    &__link--telegram {
        background-image: url('../images/social-icons/telegram.svg');
    }

    &__link--instagram {
        background-image: url('../images/social-icons/instagram.svg');
    }
}